.documents-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.file-item {
    display: flex;
    align-items: center;
    background: var(--card-bg);
    padding: 10px;
    border-radius: 6px;
    width: 90%;
    box-shadow: var(--card-shadow);
    justify-content: space-between;
}

.file-item a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

.file-item button {
    background: red;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.file-item button:hover {
    background: darkred;
}
