/* Importar fuente */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* Variables de colores basados en Solaria */
:root {
    --primary-color: #005BAC;  /* Azul Solaria */
    --secondary-color: #E5E5E5; /* Gris claro */
    --text-color: #333;
    --white: #ffffff;
    --button-color: #FF3B30; /* Rojo Solaria */
    --hover-button-color: #D32F2F;
}

/* Estilos base */
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

/* Botones */
button {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: var(--hover-button-color);
}

/* Inputs */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
}

/* Contenedor principal */
.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px; /* Para que respete el espacio del sidebar */
}
